
QDWaterLrrigation.xcodeproj/project.xcworkspace/xcuserdata/ilydem.xcuserdatad/UserInterfaceState.xcuserstate

QDWaterLrrigation.xcodeproj/xcuserdata/ilydem.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

QDWaterLrrigation.xcodeproj/project.xcworkspace/xcuserdata/ilydem.xcuserdatad/UserInterfaceState.xcuserstate

QDWaterLrrigation.xcodeproj/xcuserdata/ilydem.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

QDWaterLrrigation.xcodeproj/project.xcworkspace/xcuserdata/ilydem.xcuserdatad/UserInterfaceState.xcuserstate

*.ipa
